.header-wrapper {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.header-top {
  position: relative;
  display: flex;
  justify-content: center; /* Đưa logo vào giữa */
  align-items: center;
  padding: 12px 24px;
  max-width: 1200px;
  margin: 0 auto;
}


.logo-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
<<<<<<< HEAD
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.system-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
=======
  width: 24px;
  height: 24px;
>>>>>>> 073bd8776b9e662f3d0df0a5cb949ba04fad2983
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.user-section {
  position: absolute;
  right: 210px; /* Căn phải */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}


.header-nav {
  background-color: #76c26a;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 10px 0;
}

.header-nav a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.2s;
}

.header-nav a:hover {
  opacity: 0.8;
}
.login-link {
  display: flex;
  align-items: center;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  gap: 5px;
  transition: color 0.2s ease;
}

.login-link:hover {
  color: #e53935;
}

.ant-dropdown-menu {
  border-radius: 10px;
  padding: 8px 0;
}
.ant-dropdown-menu-item {
  padding: 10px 20px;
}
